src/Controlador/src/main/java/files/XSD/Productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Productos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Producto" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="idProducto" type="xs:int" use="required"/>
                        <xs:attribute name="nombre" type="xs:string" use="required"/>
                        <xs:attribute name="descripcion" type="xs:string"/>
                        <xs:attribute name="precioVenta" type="xs:double"/>
                        <xs:attribute name="categoria" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>