src/Controlador/src/main/java/files/XSD/Proveedores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Proveedores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Proveedor" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="idProveedor" type="xs:int" use="required"/>
                        <xs:attribute name="nombre" type="xs:string" use="required"/>
                        <xs:attribute name="email" type="xs:string"/>
                        <xs:attribute name="telefono" type="xs:string"/>
                        <xs:attribute name="direccion" type="xs:string"/>
                        <xs:attribute name="contacto" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>